body {
    background-color: white;
    color: black;
    font-family: Georgia, monospace;
    margin: 0;
    padding: 0px;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
body.home-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .centered-layout {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

  .left-column {
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.4;
    max-width: 200px;
}
  .left-column h1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  nav ul {
    margin: 6px 0;
}
  nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    color: #a00000;
}
  nav ul li a:hover {
    text-decoration: underline;
}
.right-column img {
    max-width: 400px;
    height: auto;
    display: block;
}
.quote-block {
    margin-top: 20px;
    max-width: 300px;
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
    line-height: 1.4;
}
.vertical-layout {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
}
.horizontal-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    padding: 40px;
}
.top-header {
    padding: 20px 40px;
    border-bottom: none;
}
.top-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.horizontal-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

} 
.horizontal-nav li a{
    text-decoration: none;
    color: #800000;
    font-size: 1.1rem;
}
.horizontal-nav li a :active,
.horizontal-nav li a:hover {
    color: #800000;
}
.about-main {
    max-width: none;
    margin: 60px 0 0 0px;
    padding: 0 40px;
}
.about-main h2 {
    font-size: 2rem;
    margin-bottom: 20;
}
.about-main p {
    font-size: 1.4rem;
}
.about-main h3 {
    font-size: 1.8rem;
    margin-top: 40px;
    margin-bottom: 10px;
}
.about-main ul {
    margin-left: 20px;
    font-size: 1.3rem;
    line-height: 1.6;
}
.timer-container {
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;



}
.timer-container {
    text-align: center;
    padding: 50px;
}
.timer {
    font-family: Arial, sans-serif;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 20px;
    overflow: visible;
}
.timer-buttons button,
.mode-buttons button {
    font-size: 1.2rem;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
1